body{
background:lightgrey;
}

table{
background:white;
}
#error{
	 background:pink;
	  padding:5px;
	  border:1px;
	  color:black;
}
#resultat{
background:green;
padding:5px;

color:white;

}